@import "./normalize.css";

:root {
  --color-primary: #140c40;
  --color-secondary: #211e8f;
  --color-accent: #d9d9d9;
  --color-body: #e5e5e5;
  --color-border: #ccc;
  --border-radius: 15%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: white;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Basis, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-primary);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
  color: #d7daf0;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
  color: #5f6ec0;
}
p {
  margin-top: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.website-title:hover {
  bottom: 2rem;
}
ul {
  list-style-type: none;
}
a:link {
  text-decoration: none;
}
a:active {
  color: #6e1273;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  .line {
    width: 1px;
    height: 4rem;
    background: var(--color-border);
  }
}
.line {
  width: 1px;
  height: 4rem;
  background: var(--color-border);
}
.bg {
  background: rgb(25, 23, 82);
  background: linear-gradient(
    144deg,
    rgba(25, 23, 82, 1) 65%,
    rgba(53, 17, 78, 1) 75%
  );
}
.app {
  position: relative;
  height: 100vh;
}
.social-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
.social-links {
  color: red;
}
/* Buttons */
.btn {
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  margin: 0.3rem 0;
  outline: none;
  padding: 2rem 2vw;
  text-align: center;
  white-space: nowrap;
  min-height: 40px;
  transition: all 0.3s;
}

.btn--primary {
  background: var(--color-primary);
  color: white;
}
.btn--primary:hover {
  background: #1c4375;
}
.btn--secondary {
  background: var(--color-secondary);
  color: white;
}
.btn--secondary:hover {
  background: #5f6ec0;
}
.btn--block {
  width: 100%;
  display: inline-block;
}
.btn--outline {
  background: transparent;
  border: 3px solid #6e1273;
  color: var(--color-headings);
  transition: background 0.15s, color 0.15s;
}
.btn--about {
  width: 80%;
}
.btn--outline:hover {
  background: var(--color-headings);
  color: white;
}
.btn--large {
  border-radius: 10px;
  padding: 1rem 1.5rem;
}
.btn--nav {
  color: #6e1273;
  transition: padding 0.5s;
}
.btn--nav:hover {
  color: #5f6ec0;
  padding: 1rem 3rem;
}
@media screen and (max-width: 1024px) {
  .nav__item .btn {
    padding: 2rem 9rem;
    margin-top: -20rem;
  }
  .btn--contact {
    padding: 2rem 10rem;
    margin: -2rem 0;
  }
}
/* Navigation Container */
.nav {
  background: rgb(25, 23, 82);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}
.website-title {
  position: relative;
  bottom: 1rem;
  transition: bottom 0.3s;
  color: white;
}
.nav__item {
  padding: 1rem 2rem;
  cursor: pointer;
}
.nav__left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__left .line {
  margin: 0 2rem;
}
.nav__left .btn {
}
/* Images */

.img__round {
  border-radius: 50%;
}

.img__nav {
  width: 8rem;

  padding: 2rem 0;
  margin-right: -0.5rem;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .img__nav {
    padding: 0;
    margin-right: 0;
  }
  .btn--about {
    width: 30%;
  }
}
/* Main Title */
.main-title--container {
  margin: 2rem;
}
.main-title--container > h2 {
  text-align: center;
}
.main-title--container > h3 {
  margin: 2rem;
  margin-bottom: 3rem;
}
.main-title--container > h3 > a {
  text-decoration: underline;
}
@media screen and (min-width: 1024px) {
  .main-title--container {
    margin: 15vh;
  }
  .main-title--container > h2 {
    text-align: left;
  }
  .main-title--container > h3 {
    line-height: 4rem;
    margin: 4rem 25rem;
  }
}
/* About */

.page {
  padding: 2rem 0;
  text-align: center;
}
.img__about {
  margin: 2rem 5rem;
  width: 20rem;
}
.about--title {
  color: #d7daf0;
}
.about-mark {
  width: 100%;
  background: #f7393f;
  padding: 3rem;
  margin-top: 5rem;
}
.about-mark-end {
  background: rgb(54, 53, 131);
}
.about-mark > h4 {
  text-align: center;
  color: #d7daf0;
  font-weight: 400;
}
.about-mark > h5 {
  text-align: center;
  color: rgb(70, 62, 62);
  font-weight: 400;
  font-size: 2rem;
  padding: -1rem;
}
.about-mark-end h5 {
  color: rgb(154, 141, 212);
}

.align-left {
  text-align: left;
}
.center {
  display: flex;
  justify-content: center;
}
.about--bio {
  padding: 1.5rem;
  padding-bottom: 3rem;
}
.about--bio > h3 {
  font-size: 2.2rem;
}
.about--bio > h3 > u {
  color: #d7daf0;
}
.about--list {
  list-style-type: circle;
}
.about--list > li {
  text-decoration: underline;
  text-align: left;
  color: #d7daf0;
}
.about--list-title {
  text-align: left;
  padding-left: 2rem;
  color: #5f6ec0;
}
.page > h1 {
  color: #d7daf0;
}
.about--education {
  text-align: left;
  padding: 1rem 2rem;
}
.about--education p {
  color: #5f6ec0;
  margin-bottom: -3rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
.about--education h5 {
  font-weight: 400;
  color: rgb(131, 109, 109);
}
.about--education h4 {
  color: #d7daf0;
  font-weight: 400;
  margin-bottom: -2rem;
}
.about--project {
  text-align: left;
  padding: 1rem 2.5rem;
}

.about--project h3,
.about--project h5 {
  font-weight: 400;
}
.about--project h3 {
  color: #d7daf0;
}
.about--project h5 {
  color: rgb(131, 109, 109);
}

.about--project-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about--technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about--technologie {
  background: rgb(54, 53, 131);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.3rem;
}
.about--end {
  padding: 1rem 5%;
}
.about--end .btn {
  width: 70%;
  height: 70%;
}
.about--end h3 {
  color: #d7daf0;
  font-weight: 400;
  padding: 1rem 0;
}
.about--end h3 u {
  color: #5f6ec0;
}
.color {
  filter: opacity(0.15) drop-shadow(0 0 0 #d7daf0);
  outline: none;
}
.about--title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about--title-container h3 {
  margin-right: 2rem;
}
.about--title-container a {
  margin-top: 3rem;
  margin-left: 1rem;
}
@media screen and (min-width: 1024px) {
  .about--title-container {
    justify-content: left;
  }
  .img__about {
    width: 35rem;
  }
  .about--title {
    font-size: 5rem;
  }
  .about--list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem;
  }
  .about-mark > h4 {
    font-size: 3rem;
  }
  .about-mark > h5 {
    font-size: 2.5rem;
  }
  .about-mark {
    padding: 8rem 0;
  }
  .about--education-up {
    display: flex;
    flex-direction: row;
  }
  .about--education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
  }
  .about--education p {
    font-size: 2.5rem;
  }
  .about--education h5 {
    font-size: 2.5rem;
  }
  .about--education h4 {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 3rem;
  }
  .about--technologie {
    font-size: 2rem;
  }
  .about--project h3 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .about--project h5 {
    font-size: 2.5rem;
  }
  .about--end .btn {
    width: 20%;
    height: 20%;
  }
}
/* Footer */
footer {
  background: transparent;
  text-align: center;
  margin-top: 4rem;
  border-top: 1px solid #5f6ec0;
  padding: 2rem 0;
}
footer h5 {
  font-weight: 300;
  margin: 0.5rem 0;
  color: #5f6ec0;
}
@media screen and (min-width: 1024px) {
  footer h5 {
    font-size: 2rem;
  }
}
/* Contact */
.contact--bottom {
  padding: 1rem 1.5rem;
}
.contact--bottom h3 {
  padding-bottom: 3rem;
}
form {
}
form div input,
form div textarea {
  border-radius: 1rem;
  border: 1px solid #6e1273;
  background: transparent;
  padding: 1rem;
  color: #5f6ec0;
  padding-left: 2rem;
  margin: 1.6rem;
}
form div textarea {
  width: 84%;
}
form .btn {
  width: 40%;
}
::placeholder {
  color: #5f6ec0;
  font-weight: 400;
}
.all {
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  form {
    text-align: left;
    padding-left: 4rem;
    padding-top: 2rem;
  }
  form div input {
    width: 100%;
  }
  form div textarea {
    width: 100%;
  }
  form .btn {
    width: 40%;
    margin-left: 31%;
  }
  .contact--bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact--bottom h3 {
    font-size: 4rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
  }
}
/* Grid */
.grid {
  display: grid;
}
@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
